<h1><%= @billboard.name %></h1>
<h2>Billboard</h2>
<hr />


<ol>
  <% @songs.each do |song| %>
    <h2><%= song.name %> - <%= song.artist.name %></h2>
  <% end %>
</ol>


<%= link_to 'Back To Billboards', billboards_path %>
<%# <%= link_to 'View Artists', billboard_artists_path(@billboard) %>
<br />
<%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %>
<br />
<%= link_to 'Delete Billboard', @billboard, method: :delete %>
